/* styling for card components */
.cards-container{
position:absolute;
left:0;
top:20rem;
min-width: 100%;
max-width: 100%;
display:flex;
justify-content: space-evenly;
gap:1rem;
flex-direction: row;
flex-wrap: wrap;
}

.card{
    margin-top: 1rem;
    width: 16rem;
    height:16rem;
    background-color:#FFFF33;
    padding: 0 10px;
    box-shadow: -12px 12px 18px rgba(0,0,0, .3);
}

