.create-new-board-container{
    min-width: 100%;
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap:5rem
}

.add-board-form {
    border: 1px solid blue;
    padding: 20px 20px;
    max-width: 20rem;
    display:flex;
    flex-direction: column;
}