@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.input{
    margin: 10px;
}
.formButton{
    margin-bottom: 10px;
}

.post{
    margin-top: 10px;
}

.formContainer{
    font-family: Montserrat;
}



