.invisible {
    display : none;
}

.visible {
    display: inline; 
}

.new-board-form{
    background:rgb(91, 133, 170, .5);
    border-radius: 50px 50px 50px 5px;
    display: flex;
    align-content: center;
    text-align: center;
    color:whitesmoke;
    width: 25%;
}
