.select-board-menu {
    flex-direction: column;
    justify-content: center;
} 
.select-board-header {
  font-family: 'Warnes';
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0 8px rgb(157, 0, 255), 0 0 15px rgb(255,105,180), 0 0 15px rgb(157, 0, 255), 0 0 15px rgb(157, 0, 255), 0 0 8px rgb(157, 0, 255), 0 0 8px rgb(157, 0, 255), 0 0 10px #0073e6;
}

#dropdown{
    background-color:#e86ce0 ;
color: black
}